<p>Thanks for booking your service with LP Travel,{{cart.billing.name}}!</p>
<p>Your reservation number is {{cart.number}}. and One email has been sent to your email:{{cart.billing.email}} for your records!</p>

